<!DOCTYPE html>
<html>
<head>
	<title>
		registration
	</title>
</head>
<body>
{% if form %}
<form method="POST">
	{% csrf_token %}

	

	
	{{ form}}
	<button type="submit"  class="btn btn-success" value="Register" id="submit"> Sign Up</button>
	{{error}}
</form>

	{% else %} 
	  <form method="POST" >
	{% csrf_token %}
	
	
	
	email_or_phone :<input type="text" name="email_or_phone" >

	password: <input type="password" name="password">
	<button type="submit"  class ="btn btn-success" value="Register" id="submit"> Sign Up</button>

{% endif %}
	

</form>



</body>
</html>